
 .pilar1{
     background-color: red;
     min-height: 100%;
     
 }
 .pilar2{
     
 }
 .pilar3{
     background-color: blueviolet;
 }
 .pilar4{
     background-color: rgb(0, 255, 21);
 }
 .pilar5{
     background-color: brown;
 }
 .boton2{
    background-color: #f44336;;
    border: 2px solid black;
    color: white;
    
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 80px 50px;
   
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
 }
 .boton3{
    background-color: blueviolet;;
    border: 2px solid black;
    color: white;
    
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 120px 50px;
   
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;}
 
 /*estilos de pestaña index */


video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    z-index: -1;
}
.modal-dialog{
    max-width: 600px;
    
}

/*estilos de pestaña inicio */

.fondo{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0,0;
    background-attachment: fixed;
    

}

.estilo{
    
    text-align: center;
    text-justify: auto;
    background-color:#8a2be266;
    margin: 50px;
}
